
.marker-cluster-custom {
	border-radius: 50%;
	color: black;
	height: 40px;
	line-height: 37px;
	text-align: center;
	width: 40px;
}
.marker-icon-custom {
	border-radius: 50%;
	color: black;
	opacity:1;
}

